img {
  width: 100%;
}

h3 {
  text-align: center;
}

.pokemon_card {
  display: flex;
  flex-direction: column;

  border-radius: var(--radius-rounded);

  h3 {
    border-top-left-radius: var(--radius-rounded);
    border-top-right-radius: var(--radius-rounded);
  }

  .image_wrapper {
    border-left: var(--card-border);
    border-right: var(--card-border);
  }

  p:last-child {
    border-bottom-left-radius: var(--radius-rounded);
    border-bottom-right-radius: var(--radius-rounded);
  }

  h3,
  p:last-child {
    border: var(--card-border);
    background-color: var(--light-red);
    color: var(--white);
    padding: 0.15rem 1rem;
  }
}
