.modal_wrapper {
  width: 50dvh;
  height: 50dvh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.modal_wrapper,
.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_wrapper {
  flex-direction: row;
}
