.result_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 5.5rem 1rem 6rem;

  @media screen and (width<= 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (width<= 800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (width<= 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
