* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-red: #ff244e;
  --dark-red: #96122d;
  --light-grey: #eff0f1;
  --dark-grey: #727070;

  --card-border: 1px solid var(--light-red);
  --card-border-dark: 1px solid var(--dark-red);

  --radius-rounded: 30px;
}

.pulse {
  transform: scale(0.85);
  animation: pulse 2s ease-in-out infinite;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button_red_rounded {
  background-color: var(--light-red);
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  color: var(--white);
  border: none;
  border-radius: var(--radius-rounded);
}

.rounded_button {
  padding: 0.5rem;
  color: var(--white);
  border-radius: var(--radius-rounded);
  cursor: pointer;
  text-wrap: nowrap;
  border-color: var(--white);
  background-color: transparent;
}
